body {
  background-color: rgb(89, 101, 110);
}


.megaDiv {
  display: flex;
  align-items: center;
  place-content: center;
  /* width: 100vh; */
  height: 80vh;
}

.dataAndChat {
  display: flex;
  flex-direction: column;
  padding-right: 25px;
  width: 250px;
  height: 600px;
  justify-content: space-between;
  /* margin-bottom: 450px */
  border: solid black 2px;
}

.metaData {
  height: 125px;
  border: solid black 2px;
  padding: 8px;
  padding-top: 0px;
  background-color: blueviolet;
}

.metaData p {
  margin: 3px;
}

.chatBox {
  height: 425px;
  border: solid black 2px;
}

.gameLogAndActions {
  width: 250px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid black 2px;
}

.gameLog {
  flex: 7;
  border: solid black 2px;
}

.gameActions {
  flex: 2;
  padding: 50px;
  border: solid black 2px;
}
