body {
  background-color: rgba(51, 114, 165, 0.568);
}


.megaDiv {
  display: flex;
  align-items: center;
  place-content: center;
  /* width: 100vh; */
  height: 80vh;
}

.dataAndChat {
  display: flex;
  flex-direction: column;
  padding-right: 25px;
  width: 250px;
  height: 600px;
  justify-content: space-between;
  /* margin-bottom: 450px */
  border: solid black 2px;
}

.metaData {
  height: 125px;
  border: solid black 2px;
  padding: 8px;
  padding-top: 0px;
  background-color: rgb(185, 230, 212);
}

.metaData p {
  margin: 3px;
}

.chatBox {
  height: 425px;
  border: solid black 2px;
  background-color: rgb(185, 230, 212);
}

.gameLogAndActions {
  padding-left: 25px;
  width: 250px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid black 2px;
}

.gameLog {
  flex: 7;
  border: solid black 2px;
  background-color: rgb(185, 230, 212);
  margin-bottom: 50px
}

.gameLog ol {

}

.gameLog ol li {
  /* align-items: center; */
  /* align-content: center; */
  text-align: left;
  padding-left: 30px;
}

.gameActions {
  flex: 2;
  border: solid black 2px;
  background-color: rgb(185, 230, 212);
  align-content: center;
}

h4 {
  padding-left: 17px;
}

.gameLog h4 {
  text-align: center;
  padding-right: 30px;
}

.gA {
  margin-left: 33px;
}

button {
  background-color: #d4a2eb; /* Green */
  border: solid black 1px;
  color: white;
  margin: 10px;
  font-size: 11px;
  height: 30px;
  width: 150px;
  text-align: center;
}
